<link rel="icon" type="image/png" sizes="32x32" href="/light-32.png" media="(prefers-color-scheme: light)">
<link rel="icon" type="image/png" sizes="32x32" href="/dark-32.png" media="(prefers-color-scheme: dark)">

<link rel="icon" type="image/png" sizes="16x16" href="/light-16.png" media="(prefers-color-scheme: light)">
<link rel="icon" type="image/png" sizes="16x16" href="/dark-16.png" media="(prefers-color-scheme: dark)">

<link rel="apple-touch-icon" sizes="180x180" href="/light-180.png">

<link rel="manifest" href="/site.webmanifest">

<meta name="theme-color" content="#f7f3ec" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#0d1117" media="(prefers-color-scheme: dark)">

